<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<%if true%>
<p><%= @somerubycode %></p>
<%end%>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<%= link_to "Sign in", user_session_path, :method => :post %>
<%= link_to "Password", new_user_password_path , :method => :get %>